@import url('https://fonts.google.com/share?selection.family=Jersey+10+Charted|Space+Grotesk:wght@300..700');

html, body {
    overflow: hidden;
    /* flex:1; */
    height: 100vh;
    width:100vw;
    margin:0;
}

.hometitle{
    display:flex;
    justify-content: center;
    margin:auto;
    align-items: center;
}

.header_inner{
    font-family: 'Space Grotesk';
    font-size:100px;
}

.home, .block-form {
    margin: 0;
    padding: 0;
    /* Add any other required styles */
}

#search-container{
    display: flex;
    height: 200px;
    background-color: rgb(133, 197, 108);
    margin-top:20px;
    padding-top:20px;
    justify-content: center;
}

#parent-container-0{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    min-height: 800px;
    /* background-color: rgb(255, 151, 77); */

}

.child-container{
    margin:10px;
    padding:20px;
    height: 300px;
    width:300px;
    background-color: rgb(108, 108, 197);

}

.showall-link{
    font-size: 80px;
    color:rgb(0, 0, 0);
    text-decoration: none;
}

a{
    color:rgb(0, 0, 0);
    text-decoration: none;
}

a:hover{
    color:rgb(154, 154, 154)
}

.grid-layout{
    display:grid;
    grid-template-columns: repeat(7, 1fr) auto;
    grid-template-rows: repeat(8, 1fr) auto;
    grid-template:
    "header header header header header header showall"
    "header header header header header header showall"
    "sidebar main main main main main main"
    "sidebar main main main main main main"
    "sidebar main main main main main main"
    "sidebar main main main main main main"
    "add main main main main main main"
    "add footer footer footer footer footer footer";
    height:100%;
    /* border:10px solid red; */
    overflow:hidden;
    gap:0;
}

@media only screen and (max-width:600px){
    .grid-layout{
        display:grid;
        grid-template:
        "header"
        "main"
        "footer";
        height:auto;
    }
    .sidebar{
        display:none
    }
}

.showall_inner{
    font-family: 'Space Grotesk';
/*     font-family: 'Jeysey 10 Charted'; */
    text-decoration:underline;
    margin: 30px 30px auto auto;
    
}

.showall {
    background-color: rgb(212, 255, 248);
    grid-area:showall;
    right:0;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    display:flex;
    /* align-items: center; */
    justify-content: flex-end;
    padding: 10px;
    height:20vh;
    /* min-height: 150px; */
    /* max-height: 160px; */
    min-width: 140px;
  
}

.header {
    background-color: rgb(201, 249, 221);
    grid-area:header;
    border-bottom: 2px solid black;
    font-size:20px; 
    padding: 10px;
    height:20vh;
    /* min-height: 150px; */
    /* max-height: 160px; */
}

.main {
    background-color: rgb(182, 227, 242);
    grid-area:main;
    display:flex;
    flex-wrap: wrap;
    min-width: 800px; 
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 20px;
    /* min-height:63vh; */
    height:63vh;
    /* this ensures add doesn't affect main */
    min-width: 87vw; 
    overflow: auto;
}

.main_inner{
    font-family:monospace;
}

.add {
    background-color: rgb(204, 232, 253);
    grid-area:add;
    left:0;
    bottom:0;
    border-top: 2px solid black;
    display:flex;
    justify-content:start;
    align-items:end;
    padding: 10px 1px 30px 10px;
     /* this ensures main doesnt affect add */
    min-width:140px;
    /* height: 18vh; */
    min-height: 80px;
}

.footer {
    display:grid;
    background-color: rgb(176, 231, 191);
    grid-area:footer;
    border-left: 2px solid black;
    grid-template-columns: auto repeat(4, 1fr) ;
    grid-template:
    "footer_inner footer_inner footer_inner footer_inner";
    height: 70px;
    /* height:10vh; */
    padding-right: 40px;
    
}


.footer_inner{
    color:rgb(44, 44, 44);
    background-color: rgba(146, 164, 254, 0);
    display:flex;
    align-items: end;
    justify-content: flex-end;   
    padding-bottom: 20px;
    
} 

.sidebar {
    background-color: rgb(228, 246, 209);
    grid-area:sidebar;
    padding: 20px 10px 10px 10px;
    /* height:47vh; */
}

img.cover_img{
    width: 150px;
    height: 200px;
    object-fit: cover;
    object-position: 37% center  ;
    display:inline;
}

.covers_container{
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* background-color:blanchedalmond;  */
}

.cover_single{
    width: 150px;
    height: 200px;
    text-align: center;
    overflow:scroll;
    border: 1px solid black;
    border-radius: 0%;
    padding:  0px;
    margin: 30px
}